n8n-workflows/1-document.ingestion.json
{
  "name": "1. Document Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "Webhook - Trigger Ingestion",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ingest-docs"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "={{ $json.body.url || 'https://docs.langchain.com/oss/python/langgraph/overview' }}"
            },
            {
              "name": "max_pages",
              "value": "={{ $json.body.max_pages || 30 }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5001/ingest",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "max_pages",
              "value": "={{ $json.max_pages }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-rag-ingest",
      "name": "Call RAG Service - Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300],
      "notes": "Calls the Python RAG service to ingest documents"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "success"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "document_count",
              "value": "={{ $json.document_count }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ],
          "object": [
            {
              "name": "pages_scraped",
              "value": "={{ $json.pages_scraped }}"
            }
          ]
        }
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "={{ $json.message || 'Ingestion failed' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "format-error",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "notes": "Sends response back - empty body auto-sends $json"
    }
  ],
  "connections": {
    "Webhook - Trigger Ingestion": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Call RAG Service - Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call RAG Service - Ingest": {
      "main": [
        [
          {
            "node": "Check If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Success": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "2",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "id": "1",
  "tags": []
}
